/*style nav links*/
#company-logo {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  padding: 1rem;
  font-size: 20px;
  
  list-style: none;
  text-decoration: none;
}

li:hover {
  background-color: orange;
}

#company-logo {
  font-size: 20px;
  padding: 1rem;
}

#menu-icon-container {
  border: 10px;
  border-radius: 10%;

  height: 35px;
}

/*style footer*/
/* footer {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.social-nav-icons{
  position: center;
} */

/*styling nav toggle*/
#site-header {
  display: flex;
  justify-content: space-between;

  padding: auto; 
}

#grid-container {  
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 600ms ease;
} 

#grid-container > ul { 
  overflow: hidden;
  list-style-type: none;
  padding-left: 0;
  
  display: flex;
  flex-direction: column;
  gap: 8px;
} 

#menu-icon-container {
  padding:5px 5px 5px 5px;
}

#grid-container.menu-row { 
  grid-template-rows: 1fr;
}

@media only screen and (min-width: 700px) {
  #site-header {
    align-items: center;
  }
  #grid-container {
    grid-template-rows: 1fr;
  }
  #grid-container > ul {
    flex-direction: row;
    align-items: center;
  }
  #menu-icon-container {
    display: none;
  }
} 


/*MAKING CARD GALLERY*/

/* .card-container {
  margin: auto;

  width: 70%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
  padding-top: 30px;

  font-family: Arial, Helvetica, sans-serif;
} */

.cards {
  padding: auto;
  gap: 20px;
  margin: 25px auto;
  align-items: center;

  width: 20vw;
  height: 40vh;

  border: 15px solid white;
  border-radius: 10%;

  box-shadow: 0 0 40px black;
  transition: 600ms all;
}

img {
  width: 307px;
  height: 100px;
  object-fit: cover;
}

/* .card-content {
  padding: 10px 5px;

  width: 100%;

  text-align: center;

  background-color: whitesmoke;

  transition: 400ms all;
} */

.cards:hover{
  transform: scale(1.2);
}

/* day/night toggle */
:root {
  --p-color: gray;
  --bg-color: white;
  
}

[data-theme=dark] {
  --p-color: white;
  --bg-color: black;
}

body {
  padding: 0;
  margin: 0;
  background-color:rgb(184, 245, 245);
  width: 100%;
}

.theme-switch-container {
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 90px;

  border: solid;
  border-radius: 30px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: white;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  cursor: pointer;
  position: absolute;

  transition: 0.5s;
}

.slider:before {
  content: "";
  background-color: orange;

  bottom: 1px;
  
  left: 1px;
 
  height: 28px;
  width: 30px;
  
  position: absolute;

  transition: 0.5s;
}


input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  transform: translateX(60px);
}

.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}