/*styling nav toggle*/

#grid-container {  
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 600ms ease;
} 

#grid-container > ul { 
  overflow: hidden;
  list-style-type: none;
  padding-left: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;
} 

#grid-container.menu-row { 
  grid-template-rows: 1fr;
}

@media only screen and (min-width: 700px) {
  #site-header {
    align-items: center;
  }
  #grid-container {
    grid-template-rows: 1fr;
  }
  #grid-container > ul {
    flex-direction: row;
    align-items: center;
  }
  #menu-icon {
    display: none;
  }
} 

/*MAKING CARD GALLERY*/

.card-container {
  margin: auto;

  width: 70%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
  padding-top: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin: 5px;
  align-items: center;

  
  width: 20vw;
  height: 40vh;

  border: 7px solid white;

  box-shadow: 0 0 30px gray;
  transition: 400ms all;

  background-size: cover;
  background-position: center;
  background-color: cyan;
}

.card-content {
  padding: 10px 5px;

  width: 100%;

  text-align: center;

  background-color: whitesmoke;

  transition: 400ms all;
}

.cards:hover{
  transform: scale(1.2);
}