/*style nav links*/
#company-logo {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  padding: 1rem;
  font-size: 20px;
  
  list-style: none;
  text-decoration: none;
}

li:hover {
  background-color: orange;
}

#company-logo {
  font-size: 20px;
  padding: 1rem;
}

#menu-icon-container {
  border: 10px;
  border-radius: 10%;

  height: 35px;
}

/* style News & Events section */
.news-events{ 
  text-align: center;
  padding: 1rem;
}

/*style footer*/
footer {
  border-top: solid black;
  background-color: darkgoldenrod;
  padding: auto;
} 

footer p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

.primary-nav ul {
  display: flex;
  justify-content: center;
}

.social-nav-icons{
  display: flex;
  justify-content: center;
  position: center;
  background-color: darkgoldenrod;
 }

/*styling nav toggle*/
#site-header {
  display: flex;
  justify-content: space-between;

  padding: auto; 
  border-bottom: solid black;

  background-color: darkgoldenrod;
}

#grid-container {  
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 600ms ease;
} 

#grid-container > ul { 
  overflow: hidden;
  list-style-type: none;
  padding-left: 0;
  
  display: flex;
  flex-direction: column;
  gap: 8px;
} 

#menu-icon-container {
  padding:5px 5px 5px 5px;
}

#grid-container.menu-row { 
  grid-template-rows: 1fr;
}

@media only screen and (min-width: 700px) {
  #site-header {
    align-items: center;
  }
  #grid-container {
    grid-template-rows: 1fr;
  }
  #grid-container > ul {
    flex-direction: row;
    align-items: center;
  }
  #menu-icon-container {
    display: none;
  }
} 

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  text-align: center;
} 

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  text-align: center;
}

@media (width > 50rem) {
  h1 {
    font-size: 100px;
  }
}


/* 3-CARD GALLERY */
.cards {
  display: flex;
  flex-wrap: wrap;

  padding: 20px;
  
  margin: auto;
  margin-bottom: 1rem;
  align-items: center;

  width: 55vw;
  height: 80vh;

  border: 15px solid white;
  border-radius: 10%;

  box-shadow: 0 0 40px black;
  transition: 600ms all;

  text-align: center;
}

img {
  width: 200px;
  height: 105px;
  object-fit: cover;
}

.cards:hover{
  transform: scale(1.2);
}

@media (width > 50rem) {
  .cards {
    display: flex;
    justify-content: flex-start;

    width: 20vw;
    height: 50vh;
  }

  .knife-cards {
    display: flex;
    justify-content: flex-end;
  }

  img {
    width: 306px;
    height: 150px;
    object-fit: cover;
  }
}

/* 9-IMAGE GALLERY (12 images in my case) */

.knife-gallery {
  padding: 1rem;
  
  text-align: center;
}

/* styled blog button */
.blog-btn {
  display: flex;
  justify-content: center;
  margin: auto;
  
  padding: 1rem;
  text-align: center;

  background-color: aqua;

  border: 2px solid black;
  border-radius: 10%;
}

.blog-btn:hover {
  background-color: aliceblue;
  box-shadow: 0 0 0 5px black;
}

.blog-btn:active {
  background-color: orange;
}

/* DAY/NIGHT TOGGLE */

body {
  padding: 0;
  margin: 0;
  transition: 0.7s;
  width: 100%;
}

.dark-theme {
  background-color: darkcyan;
  color: white; 
}

.dark-theme #checkbox {
  background-color: whitesmoke;
}

.dark-theme #checkbox:after {
  background-color: transparent;
}

.theme-switch-container {
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 90px;

  margin: auto;

  border: solid;
  border-radius: 30px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: white;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  cursor: pointer;
  position: absolute;

  transition: 0.5s;
}

.slider:before {
  content: "";
  background-color: orange;

  bottom: auto;
  
  left: auto;
 
  height: 34px;
  width: 34px;
  
  position: absolute;

  transition: 0.5s;
}


input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  transform: translateX(57px);
}

.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}

/*text-area*/
#favorite-knife {
  display: block;
  margin: auto;
}

/*Contact Us section*/
.contact-us {
  margin: auto;
  text-align: center;
  padding: 1rem;
}

label {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

input {
 margin: auto;
 padding: auto;
 gap: auto;

 border-radius: 5px;
 margin-bottom: 1rem;

 line-height: 1.5;
}

.submit {
  padding: 1rem;
}

